<div class="container-fluid" data-ng-controller="InstanceBeansController">
	<accordion close-others="false">
    	<accordion-group data-ng-repeat="ctx in contexts" is-open="ctx.open">
        	<accordion-heading>
            	{{ctx.name}} <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': res.open, 'glyphicon-chevron-right': !res.open}"></i>
        	</accordion-heading>
        	<ul class="list-group">
				<li class="list-group-item" data-ng-repeat="bean in ctx.beans">
					<label>Beans:</label> {{bean.name}} <span class="label label-primary">{{bean.scope}}</span><br>
					<label>Type:</label> {{bean.type}}<br>
					<label>Resource:</label> {{bean.resource}}<br>
					<span data-ng-if="bean.dependencies">
						<label>Dependencies:</label>
						<ul class="list-inline">
							<li data-ng-repeat="dependency in bean.dependencies">{{dependency}}</li>
						</ul>
					</span>
				</li>
			</ul>
    	</accordion-group>
	</accordion>
</div>