<div class="container">
	<div class="page-header">
		<a href="/ui/services"><strong>Services</strong></a> / <label>{{service.name}}</label>
    </div>
    <p>{{service.description}}</p>
    <div class="row">
    	<div class="col-sm-10">
			<div class="panel panel-success">
				<div class="panel-heading">Instances</div>
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Host</th>
							<th>Port</th>
						</tr>
					</thead>
					<tbody>
	  					<tr data-ng-repeat="instance in service.instances">
	    					<td><a href="/ui/instances/{{instance.id}}">{{instance.name}}</a></td>
	    					<td>{{instance.host}}</td>
	    					<td>{{instance.port}}</td>
	  					</tr>
	  				</tbody>
				</table>
			</div>
    	</div>
		<div class="col-sm-2" data-ng-include="'/view/service-menu.html'"></div>
	</div>
</div>
