<div class="container">
	<div class="page-header">
		<div class="row">
  			<div class="col-sm-3"><strong>Services</strong></div>
  			<div class="col-sm-9">
  				<button type="button" class="btn btn-success btn-sm pull-right">
    				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create service
    			</button>
  			</div>
  		</div>
    </div>
    <div class="panel panel-info">
	  	<div class="panel-heading">
	  		<i class="glyphicon glyphicon-tasks"></i> Services
	  	</div>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
	  			<tr data-ng-repeat="service in services">
	    			<td><a href="/ui/services/{{service.id}}">{{service.name}}</a></td>
	    			<td>{{service.description}}</td>
	  			</tr>
	  		</tbody>
		</table>
	</div>
</div>