<div class="container-fluid">
	<div class="page-header">
		<h3>Service instance: {{serviceInstance.name}}</h3>
    </div>
    
    <ul class="nav nav-tabs">
  		<li data-ng-class="{active:isTabSelected(0)}"><a href data-ng-click="selectTab(0)">Application</a></li>
  		<li data-ng-class="{active:isTabSelected(1)}"><a href data-ng-click="selectTab(1)">Metrics</a></li>
  		<li data-ng-class="{active:isTabSelected(2)}"><a href data-ng-click="selectTab(2)">Environment</a></li>
  		<li data-ng-class="{active:isTabSelected(3)}"><a href data-ng-click="selectTab(3)">Configuration</a></li>
  		<li data-ng-class="{active:isTabSelected(4)}"><a href data-ng-click="selectTab(4)">Threads</a></li>
  		<li data-ng-class="{active:isTabSelected(5)}"><a href data-ng-click="selectTab(5)">Classpath</a></li>
  		<li data-ng-class="{active:isTabSelected(6)}"><a href data-ng-click="selectTab(6)">Logging</a></li>
  		<li data-ng-class="{active:isTabSelected(7)}"><a href data-ng-click="selectTab(7)">Trace</a></li>
  		<li data-ng-class="{active:isTabSelected(8)}"><a href data-ng-click="selectTab(8)">Beans</a></li>
  		<li data-ng-class="{active:isTabSelected(9)}"><a href data-ng-click="selectTab(9)">Mapping</a></li>
	</ul>
	
	<div class="tab-content" style="padding-top: 20px" data-ng-include src="includeTab()"></div>
</div>